header{
  display: flex;
  height: 10vh;
  width: 100vw;
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
}


.mechBay{
  display: flex;
  flex-wrap: wrap;
}


.mech{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 30vw;
  background-color: chartreuse;
}